.mid{
    margin: 10px  100px auto;
}
.img1{
    width: 60px;
    border-radius: 50px;
    margin: 10px  auto;
}
.btn1{
    width: 20% auto;
    margin:10px auto;
}
.h1{
    color: white;
}

.form0 {
    width: 79%;
    margin: 20px 0 30px 111px;
}
.form1{
    margin: 20px 0 0 0;
}
.form2{
    margin: 20px 0 0 0;
}
